.markItUp .narin_h1 a {	background-image:url(tool_images/h1.png);}
.markItUp .narin_h2 a {	background-image:url(tool_images/h2.png);}
.markItUp .narin_h3 a {	background-image:url(tool_images/h3.png);}
.markItUp .narin_h4 a {	background-image:url(tool_images/h4.png);}
.markItUp .narin_h5 a {	background-image:url(tool_images/h5.png);}
.markItUp .narin_h6 a {	background-image:url(tool_images/h6.png);}
.markItUp .narin_bold a {	background-image:url(tool_images/bold.png);}
.markItUp .narin_italic a {	background-image:url(tool_images/italic.png);}
.markItUp .narin_underline a {	background-image:url(tool_images/underline.png);}
.markItUp .narin_stroke a {	background-image:url(tool_images/stroke.png);}
.markItUp .narin_ul a {	background-image:url(tool_images/list-bullet.png);}
.markItUp .narin_ol a {	background-image:url(tool_images/list-numeric.png);}
.markItUp .narin_doc a {	background-image:url(tool_images/link.png);}
.markItUp .narin_find_doc a {	background-image:url(tool_images/find_doc.png);}
.markItUp .narin_url a {	background-image:url(tool_images/url.png);}
.markItUp .narin_emoticon a {	background-image:url(tool_images/smile.png);}
.markItUp .narin_emoticon li a { background-image:none;width:20px;height:20px;font-size:8pt;padding:0;margin:0;text-align:center;}
.markItUp .narin_emoticon ul { width:200px; padding:1px; margin:0;}
.markItUp .narin_emoticon li {	
		width:20px;height:20px;
		border:1px solid white;
		padding:0px; margin:0px;
		float:left;	}
.markItUp .narin_picture a {	background-image:url(tool_images/picture.png);}
.markItUp .narin_file a {	background-image:url(tool_images/file.png);}
.markItUp .narin_folder a {	background-image:url(tool_images/folder.png);}
.markItUp .narin_quote a	{	background-image:url(tool_images/quotes.png);}
.markItUp .narin_code a	{	background-image:url(tool_images/code.png);}
.markItUp .narin_footnote a	{	background-image:url(tool_images/footnote.png);}
.markItUp .narin_meta a	{	background-image:url(tool_images/meta.png);}
.markItUp .narin_meta .meta_notoc a {		background-image:url(tool_images/meta_toc.png);	}
.markItUp .narin_meta .meta_comment a {		background-image:url(tool_images/meta_comment.png);	}
.markItUp .narin_meta .meta_cache a {		background-image:url(tool_images/meta_cache.png);	}
.markItUp .preview a {	background-image:url(tool_images/preview.png);}


.markItUp .narin_colors a {	background-image:url(tool_images/colors.png);}
.markItUp .narin_colors ul {		width:55px; padding:1px;		}
.markItUp .narin_colors li {		
		border:1px solid white;
		width:16px;	height:16px;
		overflow:hidden;
		padding:0px; margin:0px;
		float:left;	}
	.markItUp .narin_colors ul a {		width:16px;	height:16px;	}
	.markItUp .narin_colors ul a:hover {		background-color:none;	}	
	.markItUp .narin_colors .col1-1 a {		background:#FCE94F;	}
	.markItUp .narin_colors .col1-2 a {		background:#EDD400;	}
	.markItUp .narin_colors .col1-3 a {		background:#C4A000;	}	
	.markItUp .narin_colors .col2-1 a {		background:#FCAF3E;	}
	.markItUp .narin_colors .col2-2 a {		background:#F57900;	}
	.markItUp .narin_colors .col2-3 a {		background:#CE5C00;	}	
	.markItUp .narin_colors .col3-1 a {		background:#E9B96E;	}
	.markItUp .narin_colors .col3-2 a {		background:#C17D11;	}
	.markItUp .narin_colors .col3-3 a {		background:#8F5902;	}	
	.markItUp .narin_colors .col4-1 a {		background:#8AE234;	}
	.markItUp .narin_colors .col4-2 a {		background:#73D216;	}
	.markItUp .narin_colors .col4-3 a {		background:#4E9A06;	}								
	.markItUp .narin_colors .col5-1 a {		background:#729FCF;	}
	.markItUp .narin_colors .col5-2 a {		background:#3465A4;	}
	.markItUp .narin_colors .col5-3 a {		background:#204A87;	}
	.markItUp .narin_colors .col6-1 a {		background:#AD7FA8;	}
	.markItUp .narin_colors .col6-2 a {		background:#75507B;	}
	.markItUp .narin_colors .col6-3 a {		background:#5C3566;	}	
	.markItUp .narin_colors .col7-1 a {		background:#EF2929;	}
	.markItUp .narin_colors .col7-2 a {		background:#CC0000;	}
	.markItUp .narin_colors .col7-3 a {		background:#A40000;	}	
	.markItUp .narin_colors .col8-1 a {		background:#FFFFFF;	}
	.markItUp .narin_colors .col8-2 a {		background:#D3D7CF;	}
	.markItUp .narin_colors .col8-3 a {		background:#BABDB6;	}	
	.markItUp .narin_colors .col9-1 a {		background:#888A85;	}
	.markItUp .narin_colors .col9-2 a {		background:#555753;	}
	.markItUp .narin_colors .col9-3 a {		background:#000000;	}
	
.markItUp .tablegenerator a {
	background-image:url(tool_images/table.png);
}

.markItUp .narin_special_char a {	background-image:url(tool_images/omega.png); color:#3F4078}
.markItUp .narin_special_char li a { background-image:none;width:15px;font-size:8pt;padding:0;margin:0;text-align:center;}
.markItUp .narin_special_char ul { width:500px; padding:1px; margin:0;}
.markItUp .narin_special_char li {	
		width:15px;
		border:1px solid white;
		padding:0px; margin:0px;
		float:left;	}

/* 검색창 레이어 */
.markItUp .wiki_find_doc {
	position:absolute;
	width:300px;	
	background-color:#fff;
	padding:0px;	
	border:1px solid #3C769D;	
}
.markItUp .wiki_find_doc h4 {
	background-color:#f0f0f0;
	font-weight:normal;
	font-size:11pt;
	border-bottom:1px dashed #004080;
	margin:0 0 5px 0;
	padding:5px 5px 5px 26px;
	color:#2D532F;
	background-image:url(tool_images/find_doc.png);
	background-repeat:no-repeat;
	background-position:5px 6px;	
}

.markItUp .wiki_find_doc .wf_body {	padding:10px; background-color:#fff;}
.markItUp .wiki_find_doc .wf_form {	position:relative; line-height:0; }
.markItUp .wiki_find_doc .wf_form label {line-height:16px; float:left; width:44px; font-size:9pt; color:#888;}
.markItUp .wiki_find_doc .wf_form .find_doc { float:left;height:16px;line-height:16px;border:1px solid #ccc;width: 100px;	margin:0 3px 0 0;padding:0; }
.markItUp .wiki_find_doc .wf_form .button { float:left; }
.markItUp .wiki_find_doc .wf_load { display:none; float:right; margin:5px 8px 0 0}
.markItUp .wiki_find_doc  .wf_result {
	margin-left:0;
	padding-left:0px;
	max-height:200px;
	overflow-y:auto;
	margin-top:5px;
	list-style:none;
	line-height:150%;
}
.markItUp .wiki_find_doc  .wf_result li { margin-bottom:3px; }
.markItUp .wiki_find_doc  .wf_result li a  {
	padding:0 0 0 14px;
	background-image:url(tool_images/arrow.png);
	background-repeat:no-repeat;
	background-position:0px middle;		
	display:block;
	color:#39606C;
}
.markItUp .wiki_find_doc  .wf_result li a:hover {	text-decoration:none; 	background-color:#E2EAEF; }

